
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1a1a2e;
    color: #ffffff;
}

nav {
    background-color: #16213e;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

h2 {
    text-align: center;
    margin: 20px
}

nav h1 {
    color: white;
    font-size: 22px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
}

nav a:hover {
    color: #e94560;
}

.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

p {
    color: #a0a0b0;
    font-size: 16px;
    margin-bottom: 30px;
}

.btn {
    background-color: #e94560;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #c73652;
}

.card {
    background-color: #16213e;
    border-radius: 10px;
    padding: 30px;
    margin: 20px auto;
    max-width: 500px;
}

.input-box {
    display: block; 
    position: relative;
    margin: 10px 10px 30px;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #a0a0b0;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

.input-box label {
    position: absolute;
    color: #a0a0b0;
    left: 12px;
    top: 18px;
    pointer-events: none;
    transition: all 0.3s ease-in-out; 
    padding: 0px 5px;
}

input:focus + label,
input:valid + label {
    top: -20px;
    font-size: 12px;
}

button {
    margin: 20px;
    color: white;
    background-color: #e94560;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #c73652;
}

.register {
    margin-left: 20px;
    color: white;
}
.workout-table {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    margin: 25px 0;
    box-shadow: 0 0 20px #0e0e0f;
    
}

th {
    background-color: #e94560;
    padding: 10px;
}

td {
    padding: 10px;
}

tr {
     border-bottom: 1px white;
}

a {
    color: white;
}

a:hover {
    color: #e94560;
}

 input {
    width: 100%;
    margin: 5px 20px;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #a0a0b0;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

 label {
    color: #a0a0b0;
    margin: 10px 30px;
}