
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Login</h1>

    <form method="POST">
        <div class="input-box">
            <input type="text" name="username" required> <label>Username:</label>
        </div>
        <div class="input-box">
            <input type="password" name="password" required> <label>Password:</label>
        </div>

        <button type="submit">Login</button>
    </form>

    <br>
    <a class="register" href="{{ url_for('register') }}">Need an account? Register</a>
</body>
</html>